body {
    background: url("https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
}   

body {
    background-size: cover;
}

header {
    text-align: center;
    padding: 3px;
    background-color: darkorange;
    color: white;
}

article {
    text-indent: 25px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: large;
    cursor: pointer;
}

section p b {
    text-align: left;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: blue;
    color: white;
}